.top-container{
    padding-top: 100px;
    background-color: #E8F6EF;
    position: relative;
}

.middle-container{
    background-color: red;
    width: 200px;
    height: 200px;
}

.bottom-container{
    background-color: blue;
    width: 200px;
    height: 200px;
}

body{
    margin: 0px;
    text-align: center;
    font-family: Verdana, sans-serif;
}

h1{
    margin-top: 0px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}